@{
    ViewData["Title"] = "Dashboard";
}
<style>
    .card-hover:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }
</style>

<div class="container my-5">
    <div class="row gutters bg-white px-3 py-4 mb-4 rounded shadow card-hover">
        <h2 class="text-center m-0">Welcome To Replacement Asset</h2>
    </div>

    <div class="row gutters bg-white py-4 mx-1 rounded shadow mb-4 card-hover">
        <div class="col-12">
            <h4 class="time-window-title text-center mb-3">Time Window IT WP Client Service Room</h4>
            <table class="table time-window-table mx-auto">
                <tbody>
                    <tr>
                        <td class="font-weight-bold">Monday - Thursday</td>
                        <td>08.00 - 16.30 WIB</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Friday</td>
                        <td>08.00 - 15.45 WIB</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Saturday - Sunday</td>
                        <td>OFF</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
        <!-- ... -->

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mb- text-center rounded shadow card-hover">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Request Replacement</h4>
                        <img src="~/img/REQUEST.jpg" alt="..." style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;">
                        <p class="card-text mb-4">Create, view, and see your asset replacement requests.</p>
                        <a href="@Url.Action("Index", "AssetRequests")" class="btn btn-primary btn-lg">Go to Requests</a>
                    </div>
                </div>
            </div>
        </div>

</div>