@{
    ViewData["Title"] = "Dashboard";
}

<div class="row gutters bg-white px-4 py-3 mb-2">
    <h2 class="text-center m-0">Welcome To Replacement Asset</h2>
</div>
<div class="mt-3"></div>

<!--Time Windows IT-->
<div class="row gutters bg-white text-center py-3 mx-1">
	<div class="col-12">
		<h4 class="time-window-title">Time Window IT WP Client Service Room</h4>
		<table class="table time-window-table mx-auto">
			<tbody>
				<tr>
					<td>Monday - Thursday</td>
					<td>08.00 - 16.30 WIB</td>
				</tr>
				<tr>
					<td>Friday</td>
					<td>08.00 - 15.45 WIB</td>
				</tr>
				<tr>
					<td>Saturday - Sunday</td>
					<td>OFF</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-4 text-center">
                <div class="card-body">
                    <h4 class="card-title">Request Replacement</h4>
                    <p class="card-text">Create, view, and manage asset replacement requests.</p>
                    <a href="@Url.Action("Index", "AssetRequests")" class="btn btn-primary btn-lg">Go to Requests</a>
                </div>
            </div>
        </div>
    </div>
</div>
