@model ReplaceAsset.Models.AssetScrap

@{
    ViewData["Title"] = "Edit Asset Scrap";
    DateTime? dateInput = (DateTime?)ViewData["DateInput"];
}

<div class="row gutters justify-content-center">
    <div class="col-10 mt-5">
        <form asp-action="Edit" asp-route-id="@Model.Id" method="post">
            <div class="card m-0">
                <div class="container d-flex justify-content-center">
                    <div class="card-header text-center">
                        <h3 class="card-title font-weight-bold mb-0" style="font-size: 1.2rem;">Edit Data Scrap</h3>
                    </div>
                </div>
                <hr class="m-0" />
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="row gutters justify-content-center">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Type" class="control-label"></label>
                                <input asp-for="Type" class="form-control" />
                                <span asp-validation-for="Type" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SerialNumber" class="control-label"></label>
                                <input asp-for="SerialNumber" class="form-control" />
                                <span asp-validation-for="SerialNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Usage Location</label>
                                <select asp-for="Location" class="form-control">
                                    <option value="">-- Select Usage Location --</option>
                                    <option value="BAT1BLOCK1">BAT 1 BLOCK 1</option>
                                    <option value="BAT1BLOCK2">BAT 1 BLOCK 2</option>
                                    <option value="BAT1BLOCK3">BAT 1 BLOCK 3</option>
                                    <option value="BAT1BLOCK4">BAT 1 BLOCK 4</option>
                                    <option value="BAT2BLOCK5">BAT 2 BLOCK 5</option>
                                    <option value="BAT2BLOCK6">BAT 2 BLOCK 6</option>
                                    <option value="BAT2BLOCK7">BAT 2 BLOCK 7</option>
                                    <option value="BAT2BLOCK8">BAT 2 BLOCK 8</option>
                                    <option value="BAT2BLOCK9">BAT 2 BLOCK 9</option>
                                    <option value="BAT3BLOCK10">BAT 3 BLOCK 10</option>
                                    <option value="BAT3BLOCK11">BAT 3 BLOCK 11</option>
                                    <option value="BAT3BLOCK12">BAT 3 BLOCK 12</option>
                                </select>
                                <span asp-validation-for="Location" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateInput" class="control-label"></label>
                                <input asp-for="DateInput" class="form-control" type="date" />
                                <span asp-validation-for="DateInput" class="text-danger"></span>
                            </div>
                            <div class="container d-flex justify-content-center">
                                <input type="submit" value="Update Data" class="btn btn-primary " style="margin: 0 5px;" />
                                <a asp-action="Index" class="btn btn-secondary" style="margin: 0 5px;">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/vendor/notyf/notyf.min.js"></script>
    <link href="~/vendor/notyf/notyf.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            var form = $('form');

            form.submit(function (event) {
                event.preventDefault(); // Prevent the form from submitting normally

                $.ajax({
                    url: '@Url.Action("Edit", "AssetScraps")',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Swal.fire({
                                title: 'Success',
                                text: data.message,
                                icon: 'success',
                                confirmButtonText: 'OK'
                            }).then(function () {
                                window.location.href = '@Url.Action("Index", "AssetScraps")';
                            });
                        } else {
                            Swal.fire({
                                title: 'Error',
                                text: data.message,
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            title: 'Error',
                            text: 'An error occurred while updating the Asset Scrap.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });
        });
    </script>
}